/* styles.css */
* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  margin-right: 8px;
}
.search-button {
  cursor: pointer;
}
a:hover {
  color: blue;
}
.body-admin {
  width: fit-content;
  height: fit-content;
  margin: 0px auto;
}
/* label-login */
label{
 color: #ffffff; 
 font-size: 20px;
}
input{
  font-size: 15px;
  width: 180px;
  height: 30px;
}
.resetuser{
  display: flex;
  text-align: center;
  flex-direction: column;
}

div.inline {
  display: flex;
  width: 320px;
}
figure.caption-right {
  display: flex;
  align-items: center;
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.align-center {
  display: flex;
  text-align: center;
  padding: 10px;
  line-height: 3;
  column-gap: 30px;
}
.align-center-login {
  /* display: flex;
  flex-direction: column;
  gap: 15px;
  width: 360px;
  padding: 12px 16px;
  border: 1px solid #767676;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.05); */
  display: flex; 
  box-shadow: 0 0 30px rgba(0, 0, 0, .5);
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  backdrop-filter: blur(20px);
  width: auto;
  padding: 20px ;
   
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 8px 10px;
}
/* login */
.login-btn {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  width: auto;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}
.btn-login{
  display: flex;
  justify-content: center;
}

.login-btn:hover {
  background-color: red;
  color: #fff;
  transition: 0.5s ease;
}

.align-valign-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
}
.register-container {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-top: 20px;
}
.text-center {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
/* sign up style */
.sign-up {
  color: blue;
  margin-left: 5px;
}
.sign-up-value{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/bau_troi.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.sign-up-color{
  color: #fff;
  font-size: 20px;
}
.text-center-sign-up {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #f5f5f5;
}
/* active */
.active-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/Thế\ giới\ Pixel_\ \(13\).jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
.active-value{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* home page */
.home-container{
  display: inline;
  padding: 30px;
  line-height: 30px;
}
.text-center-home{
  display: block;
  width: 1000px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
.align-center-home-page{
  display: flex;
    justify-content: center;
    padding: 30px;
    margin: auto;
}

/* menu.css */
div.border-bottom {
  border-bottom: 1px solid black;
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.3);
}
div.float-left {
  float: left;
}
div.float-right {
  float: right;
}
div.float-clear {
  clear: both;
}
ul.menu {
  margin: 0px;
  padding: 0px;
}
li.menu {
  display: inline;
  margin-right: 20px;
  text-transform: uppercase;
}
form.search {
  margin: 0px;
}
input.keyword {
  width: 150px;
}
input.keyword:not(:placeholder-shown) ~ .search-button {
  background-color: red;
  color: #fff;
  transition: all 0.5s ease;
}
/* datatable.css */
.datatable {
  text-align: center;
  border-collapse: collapse;
}
/* header */
tr:first-child.datatable {
  background-color: #ffcc00;
}
/* even rows, except header */
tr:not(:first-child):nth-child(even).datatable {
  background-color: #f5f5f5;
}
/* odd rows, except header */
tr:not(:first-child):nth-child(odd).datatable {
  background-color: #ffeeaa;
}
/* except header */
tr:not(:first-child):hover.datatable {
  background-color: #dcfcfc;
  cursor: pointer;
}
.product-detail {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  justify-content: center;
  gap: 10px;
}
.shopping-cart_icon {
  font-size: 1.6rem;
  position: relative;
  top: 3px;
  transition: 0.3s ease-in;
}
.inline {
  margin-left: 5px;
  margin-right: 5px;
}
.shopping-cart_icon:hover {
  animation: Fade-In 0.5s ease;
}
.check-container:hover {
  opacity: 0.7;
}
.new-product--container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  gap: 15px;
}
@keyframes Fade-In {
  from {
    scale: 0.6;
  }
  to {
    scale: 1;
  }
}
